/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
    background-color: #98A869;
    color: #525D31;
    margin: 0;
    height: 100%;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 1.5em;
}

div {
    display: block;
    unicode-bidi: isolate;
}

h1 {
    background-color: #E1EBC3;
    color: #384020;
    margin: 0;
    line-height: 1.2em;
}

h2 {
    background-color: #384020;
    color: #E1EBC3;
    margin: 0;
    line-height: 1.2em;
}

h3 {
    background-color: #2C2622;
    color: #E1EBC3;
    margin: 0;
    line-height: 1.2em;
}

p {
    line-height: 1.5em;
}

html, body, div, span, h1, h2, h3, a, th, td, figure, figcaption, footer, header, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10%;
    font: inherit;
    vertical-align: baseline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.alt-body {
    font-size: 14px;
}

.outer-container {
    margin: 24px;
    border: 1px solid black;
    overflow: hidden;
}

.inner-container {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1416px;
    margin: 0 auto;
    align-items: center;
    /*padding: 10px ;  120/1416 */
}

.very-inset {
    font-family: "Agbalumo", system-ui;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
    margin: 0 auto;
    padding-top: 100px;
    width: 90%;
}

.super-inset {
    margin: 0 auto;
    width: 90%; /* 694/1416 */
    padding-bottom: 150px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.introduction {
    position: relative;
    overflow: hidden;
    background-color: #E1EBC3;
}

.introduction .super-inset {
    padding-top: 20px;
}
.introduction .container {
    z-index: 3;
    padding-bottom: 96px;
    padding-top: 96px;
    position: relative;
}
.introduction .two-col {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3.389830508%; /* 48/1416 */
    grid-row-gap: 32px;
    justify-items: center;
}

a {
  border-bottom: 0.5px solid #2C2622;
  color: #E1EBC3;
  text-decoration: none;
}

a:hover {
  border-bottom: 0.5px solid #98A869;
  color: #98A869;
}

.contact-me {
    position: relative;
    overflow: hidden;
    background-color: #384020;
    color: #E1EBC3
}

.introduction img {
    float: right;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    border: 0.5px solid #2C2622;
}

/* Add a dark green background color to the top navigation */
.topnav {
    background-color: #384020;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "logic-monoscript", mono;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.02em
}

/* header and footer */
/*
header, footer {
    background: #faefdd;
}
*/

.name a {
    float: left;
    font-family: "Agbalumo", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0.01em;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: #E1EBC3;
}

.name a:hover {
    border-bottom: 0.5px solid #98A869;
    color: #98A869;
  }

  /* about */
.greeting {
    position: relative;
    overflow: hidden;
    background-color: #E1EBC3;
}


.greeting .very-inset {
    position: relative;
    overflow: hidden;
    background-color: #E1EBC3;
    padding-top: 100px;
}

.greeting .super-inset {
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #E1EBC3;
}

.photo-cardset {
    background-color: #384020;
}

.photo-cardset1 {
    background-color: #E1EBC3;
}

.about-gallery {
    display: flex;
    column-gap: 24px;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}

.about-gallery figure {
    background: #FFF;
    border: 0.5px solid #2C2622;
    padding: 12px 12px 8px 12px;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.about-gallery figcaption {
    display: block;
    font-size: 12px;
    line-height: 1.4em;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 8px;
}

.about-gallery img {
    border: 0.5px solid #2C2622;
    margin-bottom: 0;
    width: 100%;
}

/*
  style for projects page
*/

.projects-banner {
    background-color: #E1EBC3;
    position: relative;
    overflow: hidden;
}

.box {
    background-color: #E1EBC3;
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 8%;
    padding: 14px 16px;
}

.projects-banner .very-inset {
    padding-top: 50px;
    background-color: #E1EBC3;
}

.projects-banner .super-inset {
    background-color: #E1EBC3;
}

.projects-grid {
    display: flex;
    column-gap: 24px;
    background-color: #2C2622;
    padding-left: 50px;
    padding-right: 50px;
}

.projects-grid ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
}
/*
.image-container {
    border: 0.5px solid #E1EBC3;
    background-color: #2C2622;
    width: 100%;
    height: 364px;
    margin-bottom: 24px;
}
*/

.projects-preview li {
    background: #2C2622;
    box-sizing: border-box;
    border: 0.5px solid #faefdd;
    padding: 24px;
    margin-bottom: 32px;
    width: 31.07344633%;
}

.projects-preview .container {
    position: relative;
    z-index: 2;
}

br {
    line-height: 0em;
}

.projects-preview img {
    display: block;
    width: 100%;
    filter: grayscale(100%) invert(10%) sepia(8%) saturate(350%) hue-rotate(351deg) brightness(105%) contrast(95%);
    margin-bottom: 32px;
    transition: transform 8s;
    height: auto;
  }

.projects-grid li {
    box-sizing: border-box;
    margin-bottom: 80px;
    width: 46.61016949%;
}

.projects-grid li .image-container {
    height: 364px;
    margin-bottom: 24px;
}

.projects-grid li:hover .text {
    border-bottom: 0.5px solid #faefdd;
}


.image-container {
    margin-bottom: 24px;
    display: block;
    height: 200px;
    overflow: hidden;
    border: 0.5px solid #faefdd;
}

.projects-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.image-container:hover {
    color: #98A869
}

.projects-title h3 {
    background-color: #2C2622;
    color: #E1EBC3;
    margin: 0;
    line-height: 1.2em;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
 
}

h3:hover {
    color: #98A869;
}

.projects-title .link {
    border: 0.5px solid #faefdd;
    font-family: "logic-monoscript", mono;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.01em;
    line-height: 1.5em;
    text-transform: uppercase;
    flex-shrink: 0;
    padding: 6px 16px;
    border-radius: 40px;
    color: #E1EBC3;
    
}

.contact-links {
    margin: 0 auto;
    width: 90%; /* 694/1416 */
    padding-bottom: 150px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-top: 30px;
    line-height: 2em;
}

.projects-title .link:hover {
    color: #98A869;
}

@media only screen and (max-width: 700px) {
    .projects-preview li, .projects-preview p {
        width: 100%;
        flex-direction: column;
    }

    .projects-preview li {
        padding: 16px;
    }

    .projects-preview ul {
        margin: 16px 0 0 0;
        display: block;
      }
}

@media only screen and (max-width: 820px) {
    .projects-preview li {
        width: 47.08879185%;
    }
    .projects-preview li {
        width: 100%;
    }
    .redesign-grid li{
        width: 100%;
    }
    .introduction img {
        height: 300px;
        width: 300px;
    }
}

@media only screen and (max-width: 1110px) {
    .projects-grid li {
        margin-bottom: 40px;
    }
}
/*
.project1 {
    color: #2C2622;
    background: #faefdd;
    border: 50px solid #2C2622;
    margin: 48px 0 -140px 0;
    padding: 8.474576271%;
    position: relative;
    text-align: left;
    z-index: 4;
}
*/



.mobile-nav {
    position: relative;
    width: 90%;
    padding: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.mobile-nav a {
    background: #E1EBC3;
    border-radius: 100px;
    border-bottom: none;
    margin: 0 0 4px 0;
    padding: 12px 16px 8px 16px;
    text-transform: uppercase;
    font-family: "logic-monoscript", mono;
    color:#384020;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0em;
    text-decoration: none;
    
  }
/*
  .mobile-nav ul {
    display: flex;
    justify-content: space-between;
  }

*/

.project-body {
    background-color: #2C2622;
}
.project-body .container {
    background-color: #2C2622;
}

.project-body .very-inset {
    background-color: #2C2622;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
}


.project-body .super-inset {
    color: #E1EBC3;
    margin: 0 auto;
    padding-bottom: 0;
}

.redesign-grid {
    display: flex;
    column-gap: 50px;
    background-color: #2C2622;
    padding-left: 50px;
    padding-right: 50px;
}

.mobile-image-container {
    border: 0.5px solid #E1EBC3;
    background-color: #2C2622;
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border: 0.5px solid #faefdd;
    padding: 10 10 10 10;
    margin-bottom: 30px;
}


/*
.mobile-image {
    display: block;
    object-fit: fill;
    height: 100px;
    max-width: 80%;
    height: auto;
}
*/

.project-body img {
    height: auto;
    width: 100%;
    border: 0.5px solid #2C2622;
    align-items: center;
}


@media only screen and (max-width: 820px) {
    .about-gallery {
        display: block;
        flex-direction: column;
        width: 100%;
    }
    
}







@media screen and (min-width: 1201px) {
    .wrapper {
        max-width: 50%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .wrapper {
        max-width: 85%;
    }
}
    
@media screen and (min-width: 376px) and (max-width: 768px) {
    .wrapper {
        max-width: 85%;     
    }
}

@media screen and (max-width: 375px) {
     .wrapper {
            max-width: 95%;
    }
}
